@import "tailwindcss";

/* in index.css */
body::before {
  content: '';
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at top left, rgba(255,255,255,0.05), transparent 70%);
  pointer-events: none;
  z-index: 0;
}
